# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=sakiladb

# Connection strings (apuntan al servicio postgres de Docker)
SAKILAAPP_DEFAULT_CONNECTION=Host=postgres;Port=5432;Database=sakila;Username=postgres;Password=postgres
SAKILAAPP_IDENTITY_CONNECTION=Host=postgres;Port=5432;Database=sakiladb;Username=postgres;Password=postgres

# Google OAuth
GOOGLE_CLIENT_ID=poner_aqui_tu_client_id
GOOGLE_CLIENT_SECRET=poner_aqui_tu_client_secret

# Gmail SMTP
GMAIL_SMTP_SERVER=smtp.gmail.com
GMAIL_SMTP_PORT=587
GMAIL_SENDER_NAME=SakilaApp
GMAIL_SENDER_EMAIL=tu_correo@gmail.com
GMAIL_PASSWORD=tu_contraseña_de_aplicacion

# PayPhone
PAYPHONE_TOKEN=poner_aqui_tu_token
PAYPHONE_STORE_ID=poner_aqui_tu_store_id

# PayPal
PAYPAL_CLIENT_ID=poner_aqui_tu_client_id
PAYPAL_CLIENT_SECRET=poner_aqui_tu_client_secret
PAYPAL_BASE_URL=https://api-m.sandbox.paypal.com
PAYPAL_RETURN_URL=http://localhost:5164/Payment/Success
PAYPAL_CANCEL_URL=http://localhost:5164/Payment/Cancel
